@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:  Dana Windmeyer  
   Date:   11/1/2023  
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: "Times New Roman",Times, sans-serif;
	background-color: rgb(159 152 166);
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: rgb(250 246 253);
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #888888;
   
	background-color: #4a3183;
    border-radius: 25px;  	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: gray;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;    
    background-image: url(images/ricepaper.jpg); 
}

#main p {
    text-indent: 1.5em;
}

	
}
figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
	text-align: center; 
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: gray;
    clear: both;
    color: white;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Form Layout Styles */


form#survey {
	 
	display: flex; 
	 
	flex-flow: row wrap; 
}

form#survey > fieldset {
	background-color: gray; 
	border-radius: 20px; 
	
	flex: 1 1 300px; 
	font-size: 0.85em;
	padding: 10px; 
	margin: 10px; 
}


div.formRow{

	display: flex; 
	
	flex-flow: row wrap; 
	margin: 7px 0px; 
	
}
div.formRow >*{
 
	flex: 1 1 150px;
}

/* Legend Styles */

legend{
	background-color: #4a3183; 
	color: white; 
	padding: 5px; 
}

/* Text Area Styles */
textarea{
	margin-top: 10px; 
	height:100px; 
	width:95%; 
}
/* Form Button Styles */
div#buttons{
	text-align: center; 
	width: 100%; 
}
input[type='submit'], input[type='reset']{
	font-size: 1.2em; 
	padding: 5px; 
	margin: 15px; 
}


/* Table Styles */
table.schedule {
	background: white; 
	border: 10px outset rgb(153, 0, 153); 
	border-collapse: collapse;
	font-size: 0.75em; 
	width: 100%; 
}


/* Table Cell Styles */
table.schedule th, table.schedule td{
	border: 1px solid gray; 
	padding: 5px; 
	vertical-align: top; 
	
}


/* Table Caption Styles */
table.schedule caption{
	caption-side: bottom; 
	text-align: right; 
	
}


/* Row Group Styles */
table.schedule thead{
	background: #4a3183;
	color: white; 
}
table.schedule tfoot{
	background: black; 
	color: white; 
}
table.schedule thead tr{
	height: 30px; 
}
table.schedule tbody tr{
	height: 40px; 
}
/* Column Group Styles */

col#firstCol {
	background: rgb(218, 210, 218);
	width: 16%; 
}
col.dayCols{
	background: rgb(255, 220, 255);
	width: 12%;
}

